menu: menu_music.ogg
level_one_music: music_for_level.ogg
level_two_music: music_two_for_level.ogg
final_fight_music: final_fight.ogg
button_sound: button.ogg
footsteps_wood: footsteps_wood.ogg
footsteps_wood_two: footsteps_wood_two.ogg
footsteps_wood_three: footsteps_wood_three.ogg
saber: saber.ogg
saber_two: saber_two.ogg
sword: sword.ogg
sword_slips: sword_slips.ogg
